%li.event{ title: display_date(event) }
  - if event.locality?
    %em.locality.fa.fa-globe
  = link_to event do
    %strong.city{ title: event.address }= event.city
    = event.title
    - if event.repeat&.positive?
      %em.fa.fa-repeat{ title: event.schedule }
