.quantity
  text-align: right !important
  white-space: nowrap

table
  clear: both
  border-spacing: 2px
  th
    font-weight: normal
    a:link, a:visited
      color: #003
      padding: 0 0.6em

  &.list
    tbody
      tr:nth-child(odd)
        background-color: #def
      tr:nth-child(even)
        background-color: #eee
    td
      padding: 0.2em
      text-align: left
      &.kind, &.updated_at
        text-align: center

dl
  width: 40em
  margin: 1em auto
  dt
    clear: left
    float: left
    padding: 0.2em 1em
    min-width: 50%
    text-align: right
  dd
    padding: 0.2em 1em
    text-align: left
    &.quantity
      padding-right: 16em
    h3
      display: inline
  dt + dd + dt +dd
    border-top: 1px solid #999

ul.counters
  text-align: center
  li
    display: inline
    a:link, a:visited
      color: white
      padding: 0.4em 1em
      display: inline-block
      box-shadow: 0 0 2px black
      border-radius: 0.4em
      background-color: #258

.edit_link:link, .delete_link:link
  display: none
