div
  &.field, &.actions
    margin-bottom: 10px

#notice
  color: green

#error_explanation
  width: 450px
  border: 2px solid red
  padding-bottom: 0
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    font-weight: bold
    padding: 15px
    font-size: 12px
    background-color: #c00
    color: #fff
  p, ul
    padding: 0 1em
    li
      font-size: 12px
      list-style: square
