- if selector_region.regions.present? || selector_region.url.blank?
  .region{ title: selector_region.code }
    = f.radio_button :region_id, selector_region.id
    = f.label "region_id_#{selector_region.id}" do
      - if selector_region.code.present?
        = flag_icon selector_region.code.downcase
        %span.name
          = t selector_region.code, scope: :countries,
            default: selector_region.name
      - else
        %em.fa.fa-map
        %span.name
          = t selector_region, scope: :countries, default: selector_region
      - if selector_region.regions.present?
        %em.fa.fa-chevron-right
    - if selector_region.regions.present?
      .radios
        = f.collection_radio_buttons :region_id,
          Region.where(region: selector_region), :id, :name,
          include_hidden: false do |b|
          = b.radio_button
          = b.label { t(b.text, scope: :countries, default: b.text) }
